// FONT-FAMILY
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Cardo', serif;

// Colors 
$white: #ffffff;
$dark: #2D3033;
$black: #000000;
$gray: #808080;
$slate: #6C7279;
$red: #FF4343;
// Background colors
$plum: #5C3249;
$color-antique: #7E5D6F;
$color-navy: #353C65;
$color-navy-dark: #2C3154;
// Separator color
$divider: #BABBC5;