@use "../components/vars" as v;
@use "../components/mixins" as m;

.hero {
  background-image: url(/assets/bg-img/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: v.$text-inverse;
  padding: 224px 0 126px;

  @include m.tablet {
    padding: 257px 0 126px;
  }

  @include m.mobile {
    padding: 106px 0 52px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(37, 43, 73, 0.8);
  }

  & .container {
    position: relative;
    z-index: 1;
  }

  &__content {
    text-align: center;
  }

  &__title {
    @include m.font(64px, 75px, 900, uppercase);
    margin-bottom: 31px;

    @include m.tablet {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 62px;
    }

    @include m.mobile {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 41px;
    }
  }

  &__text {
    @include m.font(24px, 28px);
    margin-bottom: 80px;

    @include m.tablet {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 89px;
    }

    @include m.mobile {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 59px;
    }
  }

  &__button {
    min-width: 369px;
    max-width: 100%;
    background-color: v.$btn-primary-bg;
    @include m.font(24px, 28px, 900, uppercase, v.$text-inverse);
    padding: 25px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.8s ease-out, box-shadow 0.8s ease-out;

    &:hover {
      background-color: v.$btn-primary-hover;
      transition: background-color 0.2s ease; 
    }

    &:active {
      background-color: v.$btn-primary-active;
      box-shadow: 4px 4px 30px #ff4343;
      transition: 0s;
    }

    @include m.tablet {
      min-width: 314px;
    }

    @include m.mobile {
      min-width: 279px;
      padding: 15px;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 38px 0 36px;
  border-bottom: 1px solid v.$border-muted;

  @include m.tablet {
    padding: 37px 0;
  }

  @include m.mobile {
    padding: 19px 0;
    border-bottom: none;
  }

  &__container {
    @include m.flex(space-between, center);
  }

  &__wrapper-logo {
    @include m.flex($align: center);
    max-width: 184px;

    @include m.tablet {
      max-width: 181px;
    }

    @include m.mobile {
      max-width: 109px;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
      animation: float 4s ease-in-out infinite;
  }

  &__nav-list {
    @include m.flex($gap: 40px);
    list-style: none;

    @include m.tablet {
      gap: 25px;
    }

    @include m.mobile {
      display: none;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    @include m.font(13px, 15px, 700, uppercase);

    &:hover {
      color: v.$nav-hover;
    }

    &:active {
      color: v.$nav-active;
    }

    @include m.tablet {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__menu {
    display: none;
    width: 25px;
    height: 18px;
    background: none;
    border: none;
    outline: none;

    @include m.mobile {
      @include m.flex(center, center);
    }
  }
}
