@use "../components/vars" as v;
@use "../components/mixins" as m;

.team {
  padding: 114px 0;

  @include m.tablet {
    padding: 78px 0;
  }

  @include m.mobile {
    padding: 35px 0 41px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;

    @include m.tablet {
      gap: 25px;
    }

    @include m.mobile {
      grid-template-columns: 1fr;
      gap: 56px;
    }
  }

  &__card {
    @include m.flex($direction: column);
  }

  &__wrapper-image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 30px;

    @include m.tablet {
      margin-bottom: 25px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: fill 0.3s ease;
  }

  &__name {
    @include m.font(24px, 28px, 700, capitalize, v.$text-primary);
    margin-bottom: 5px;

    @include m.tablet {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 4px;
    }

    @include m.mobile {
      margin-bottom: 5px;
    }
  }

  &__position {
    @include m.font(18px, 21px, 400, uppercase, v.$text-position);
    margin-bottom: 18px;

    @include m.tablet {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 22px;
    }

    @include m.mobile {
      margin-bottom: 38px;
    }
  }

  &__text {
    @include m.font(18px, 21px, 400, $color: v.$text-secondary);
    margin-bottom: 38px;

    @include m.tablet {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 39px;
    }

    @include m.mobile {
      margin-bottom: 55px;
    }
  }

  &__socials {
    @include m.flex($gap: 5px);
    margin-top: auto;

    @include m.tablet {
      gap: 4px;
    }

    @include m.mobile {
      gap: 5px;
    }
  }

  &__social-link {
    width: 39px;
    height: 39px;
    border: 1px solid v.$border-light;
    @include m.flex(center, center);
    transition: border-color 0.3s ease; 

   svg path {
      transition: fill 0.3s ease; 
    }
    
    &:hover {
      border-color: v.$border-hover;
    }

   &:active {
        border-color: v.$border-hover; 
        
        svg path {
            fill: v.$icon-hover; 
        }
    }

    @include m.tablet {
      width: 33px;
      height: 33px;
    }

    @include m.mobile {
      width: 40px;
      height: 40px;
    }
  }
}