@use '../components/vars' as v;
@use '../components/mixins' as m;

.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1510px;
  margin: 0 auto;


  @include m.mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  &__wrapper-image {
    position: relative;
    width: 100%;
    aspect-ratio: 379 / 340;
    overflow: hidden;
    border: 2px solid v.$border-white;
    cursor: pointer;

    &:hover .works__overlay {
      opacity: 1;
      background: rgba(v.$bg-overlay, 0.8); 
    }

    &:active .works__overlay {
      opacity: 1;
      background: rgba(v.$bg-overlay-active, 0.9); 
    }


    @include m.tablet {
      aspect-ratio: 257 / 230;
    }

    @include m.mobile {
      aspect-ratio: 160 / 144;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: v.$text-inverse;
    background: rgba(v.$bg-overlay, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    @include m.flex(center, center, 37px, column);

    @include m.tablet {
      gap: 23px;
    }

    @include m.mobile {
      gap: 7px;
    }
  }

  &__overlay-title {
    @include m.font(24px, 28px, 900, uppercase);
    text-align: center;

    @include m.tablet {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__overlay-text {
    @include m.font(18px, 21px, 400, capitalize);
    text-align: center;

    @include m.tablet {
      font-size: 14px;
      line-height: 16px;
    }
  }

}