@use 'vars' as v;
@use 'mixins' as m;

body {
    font-family: v.$font-family-main;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @include m.font(18px, 21px);
}

.text {
    @include m.font(18px, 21px, 400);
    
}