@use 'vars' as v;

// media
@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: v.$mobile) {
        @content;
    }
}


// flex
@mixin flex($justify: null, $align: null, $gap: null, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

// font
@mixin font($size: inherit, $lh: 1.2, $weight: 400, $transform: none, $color: inherit) {
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
  text-transform: $transform;
  color: $color;
}
