// media
$tablet: 1024px;
$mobile: 767px;


// font-family
$font-family-main: 'Raleway', sans-serif;
$font-family-rare: 'Cardo', serif;

// colors
$white: #ffffff;
$black: #000000;
$red-500: #ff4343;
$red-600: #e71414;
$red-700: #b90c0c;
$blue-900: #252b49;
$blue-800: #2c3154;
$blue-700: #353c65;
$violet-600: #5c3249;
$gray-900: #2d3033;
$gray-600: #6c7279;
$gray-500: #808080;
$gray-300: #c6cbcd;
$gray-400: #babbc5;


$text-inverse: $white;
$text-primary: $gray-900;
$text-secondary: $gray-600;
$text-position: $red-500;
$text-download-primary: $black;
$text-copyright: $gray-500;

$btn-primary-bg: $red-500;
$btn-primary-text: $white;
$btn-primary-hover: $red-600;
$btn-primary-active: $red-500;

$bg-overlay: $red-500;
$bg-overlay-active: $red-700;
$bg-testimonials: $violet-600;
$bg-footer-top: $blue-700;
$bg-footer-bottom: $blue-800;

$border-white: $white;
$border-light: $gray-300;
$border-muted: $gray-400;
$border-hover: $red-500;

$icon-hover: $red-500;
$nav-hover: $gray-400;
$nav-active: $red-600;



